/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
$font-heading: 200;

h1,h2,h3,h4,h5 {
    font-weight: $font-heading;
}



.block {
    display:block;
}

